<div class="panel">
    <div class="panel-body">
        <h4 class="header-title m-t-0 m-b-30"><i class="zmdi zmdi-thumb-up-down m-r-5"></i> {{ t('ui.template.videos.watch.votes.heading')|trans }}</h4>

        <div id="voting" class="row">
            {{ include('votes/partials/_votes-row.html.twig', {'video': video}) }}

        </div>
    </div>

</div>