###> Phpstorm ###
.idea
###< Phpstorm ###

###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> videos, thumbnails, frames and avatars ###
/uploads/
/public/assets/images/videos
/public/assets/images/users
/public/assets/videos
###< videos, thumbnails, frames and avatars ###

###> TestController ###
src/Controller/TestController.php
templates/test/index.html.twig
###< TestController ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
