<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        {{ include('admin/partials/_user-box.html.twig') }}

        {{ include('admin/partials/_side-menu.html.twig') }}

        <div class="clearfix"></div>
    </div>

</div>
<!-- Left Sidebar End -->