<div class="list-group">
    {% for category in categories%}
        <a href="{{ path('app.category.view', {'slug': category.slug}) }}" class="list-group-item card-box">{{ category.name }}</a>
    {% endfor %}
</div>